RMS_WebApp/Connected Services/ServiceReference1/RMS_Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RMS_Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RMS_Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="InsertOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="O_Cate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="O_Desc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="O_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="O_Price" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="O_Stat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="O_Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsertOrder" nillable="true" type="tns:InsertOrder" />
  <xs:complexType name="getdata">
    <xs:sequence>
      <xs:element minOccurs="0" name="Res_Tab" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getdata" nillable="true" type="tns:getdata" />
  <xs:complexType name="UpdateOI">
    <xs:sequence>
      <xs:element minOccurs="0" name="O_Cate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="O_Desc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="O_ID" type="xs:int" />
      <xs:element minOccurs="0" name="O_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="O_Price" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="O_Stat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="O_Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateOI" nillable="true" type="tns:UpdateOI" />
  <xs:complexType name="DeleteOI">
    <xs:sequence>
      <xs:element minOccurs="0" name="O_ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeleteOI" nillable="true" type="tns:DeleteOI" />
</xs:schema>